<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">
		function login(){
			var user = $("#user").val();
			var pass = $("#pass").val();
			$.ajax({ 
				type: 'POST', 
				datatype: 'json',
				url: 'http://127.0.0.1:8001/api/login/',
				data: 'username='+user+'&password='+pass,
				success: function (data) { 
					if(data['status'] == "ok" && data['result']['token']){
						localStorage.setItem('token', data['result']['token']);
						/*
				       	$.cookie("token",data['result']['token']);
				       	*/
				      	window.location ="/";
			       }
			       else{
			       	alert("wrong id or pass");
			       }
			       return false;
			   }
			});
			return false;
		}
	</script>
</head>
<body>
	<form action="" onsubmit="return login()" method='post'>
		<label>Username:</label><input type="text" id="user" name="username">
		<label>Password:</label><input type="password" id="pass" name="password">
		<button type="submit">Login</button>
	</body>
	</html>