<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style type="text/css">
  a{
  	color: white;
  }
  body{
  	padding-left: 20%;
  }
  </style>
</head>
<body>
<h3>Hello! </h3>
<a href="/view"><button type="button" class="btn btn-primary">View Blogs</button></a>
<a href="/post/new"><button type="button" class="btn btn-success">Add blog</button></a>
<a href="/login/logout"><button type="button" class="btn btn-info">Logout</button></a>
</body>
</html>